$Paddingnormal: 15px;
$Font-H1: 60pt;
$Font-color: white;

@import "reset";

@font-face {
    font-family: 'Tilt Prism';
    src: url(/fonts/TiltPrism/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf);
}

@font-face {
    font-family: 'Noto Sans';
    src: url(/fonts/NonoSans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'PressStart2P';
    src: url(/fonts/PressStart2p/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(/fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Arvo';
    src: url(/fonts/Arvo/Arvo-Regular.ttf);
}

@font-face {
    font-family: 'Dosis';
    src: url(/fonts/Dosis/static/Dosis-Medium.ttf);
}

body {
    max-width: 100%;
}

// Header. Con su respectiva img de fondo.
.cabecera {
    position: relative;
    width: 100%;
    background-image: url(..//media/Media-Index/keycaps\ white.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // Texto dentro del header
    h1 {
        position: static;
        color: $Font-color;
        font-family: 'Dosis';
        text-align: center;
        font-size: $Font-H1;
        padding: 5%;
        text-shadow: 4px 4px darkred, -4px -4px black;
    }
}

// Barra de navegación 
.navbar {
    position: sticky;
    z-index: 100;
    font-family: 'Arvo';

    // Contenido dedicado a la lista dentro de la barra de navegación
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: $Paddingnormal/ 2;

        // Estilos dedicados para los items de la lista, como tambien sus animaciones.
        .nav-item {
            padding: 5px;
            margin: 5px;
            list-style: none;
            background-color: rgba(5, 5, 5, 0.7);
            padding: 5px;
            border-radius: 10px;
        }

        .nav-item:hover {
            background-color: rgba(255, 255, 255, 0.9);
            font-weight: bolder;
            transition: all 0.5s ease-in-out;
        }
    }

    // Estilos dedicados a las etiquetas a dentro de la barra de navegación!
    a {
        color: $Font-color;
    }

    a:hover {
        color: rgba(0, 0, 0, 0.8)
    }

}

// Menú hamburguesa!
#checkbox-menu,
label.menu {
    display: none;
}

label.menu {
    color: $Font-color;
    cursor: pointer;
    padding-left: 1%;
}

// Fondo de las paginas. Exceptuando la pagina de contacto!
.background {
    background-color: rgba(128, 128, 128, 0.5);
}

// Estilos para la grilla, imagenes y contenido de los contenedores.
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    max-width: 100%;
    font-family: 'Arvo';
    text-transform: uppercase;
    color: black;
    padding: 10px;
    gap: 10px;

    // Estilos dedicados exclusivamente para los contenedores
    .grid-container {
        text-align: center;
        align-items: baseline;
        justify-content: baseline;

        p {
            font-size: smaller;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.5);
            border: 2pt solid;
            border-radius: 20pt;
        }

        p:hover {
            color: $Font-color;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
        }
    }

    .img {
        max-width: 80%;
        height: auto;
    }
}

// Estilos para los Subtitulos que estan antes y despues de las imagenes de muestra!
h2 {
    text-align: center;
    font-size: $Font-H1/ 2;
    padding: 2%;
    font-family: 'Dosis';
    color: $Font-color;
    text-shadow: 2px 1px 3px black;
}

h4 {
    text-align: center;
    font-family: 'Dosis';
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-transform: uppercase;
    font-size: $Font-H1 / 3;
    padding-bottom: 2%;
}

h4:hover {
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

// Estilos para el Footer!
.piedepag {
    background-image: url(../media/Media-Index/keycaps\ white.jpg);
    margin: 0;
    width: cover;
    padding: 3% 0%;
    color: $Font-color;
    text-align: center;

    p {
        font-family: 'Dosis';
        font-weight: bold;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 3%;
        color: $Font-color;
    }
}

a {
    text-decoration-line: none;
    text-decoration-color: black;
    font-size: 20px;
    font-family: 'Noto Sans';
}

// Estilos para la pagina de contacto!

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.form-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

@import "queries";